.navlinks {
  list-style: none;
  display: inline-block;
  margin-right: 15px;
}

.navbar {
  display: block;
  position: relative;
  float: right;
}
.navlinks a:link,
a:visited {
  color: white;
  text-decoration: none;
}

.navlinks a:hover {
  opacity: 0.8;
}
#body {
  margin: 0px;
}
#header {
  background-color: rgb(69, 85, 116);
  border-bottom: 1px solid #666666;
  color: white;
  margin: 0px;
}
#header h1 {
  font-weight: 800;
  padding: 20px;
}
